// Colors
$white: #FFFFFF;
$dark: #000000;
$light-dark: #1B1F24;
$dark-grey: #3E3E3E;
$grey: #808080;
$light-grey: #A2A2A2;
$gray-sparse: #4D4D4D;
$background-dark: #C4C4C4;
$background-grey: #F3F2F2;
$background-dark-grey: #E7E6E1;
$background-nav: #F3F2ED;
$blue: #058DC7;
$turquoise: #2DD0C6;
$danger: #EE144E;
$light-red: #F689A8;
$yellow: #F8D77F;
$green: #00983E;
$light-green: #A6C8B3;

/* Viewports */

$middle-width: 768px;
$max-asside-width: 950px;
$max-tables-width: 1400px;